* {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }
        
        body {
          background-color: #172041;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: "Barlow Semi Condensed", sans-serif;
          font-weight: 700;
          font-style: normal;
          padding: 10px;
        }
        
        header {
          color: white;
          border: solid hsl(0, 0%, 50%);
          border-radius: 15px;
          width: 60%;
          height: 170px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 50px;
        }
        
        .title,
        .score {
          padding: 35px;
        }
        
        .title {
          width: 30%;
          height: 90%;
          font-size: 40px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        
        .score {
          width: 40%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        
        .player-score,
        .computer-score {
          color: hsl(0, 0%, 28%);
          background-color: white;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 115px;
          width: 135px;
          border-radius: 12px;
          padding: 20px 0;
        }
        
        #player-score,
        #computer-score {
          font-size: 60px;
          font-weight: 700;
        }
        
        .options-section,
        .result-section {
          width: 100%;
          height: 400px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
        
        .options-section i,
        .result-section i {
          font-size: 100px;
          color: hsl(0, 0%, 22%);
          background-color: white;
          border-radius: 100px;
          border-width: 15px;
          border-style: solid;
          border-color: #3b31f2ca;
          height: 200px;
          width: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: transform 0.5s ease;
        }
        
        .options-section i:hover,
        .options-section i:active {
          color: white;
          background-color: #3b31f2ca;
          cursor: pointer;
          transform: scale(1.2);
        }
        
        .yc,
        .cc {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        
        .yc p,
        .cc p {
          color: white;
          margin-bottom: 50px;
          font-size: 50px;
        }
        
        .try {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 400px;
          height: 700px;
        }
        
        .try button,
        .try p {
          margin-top: 200px;
          margin-left: 100px;
        }
        
        .try p {
          font-size: 70px;
          color: white;
        }
        
        .try button {
          width: 200px;
          height: 90px;
          border: none;
          font-size: 35px;
          font-family: "Barlow Semi Condensed", sans-serif;
          font-weight: 700;
          font-style: normal;
          color: white;
          background-color: #0d1122;
          border-radius: 10px;
          transition: transform 0.5s ease;
        }
        
        .try button:hover{
          color: #000000;
          background-color: #747ea8;
          cursor: pointer;
          transform: scale(1.1);
        }
        
        /* Media Queries */
        @media (max-width: 700px) {
          body{
                    max-height: 900px;
          }
          header {
            flex-direction: column;
            width: 100%;
            height: auto;
            padding: 20px;
            margin-top: 20px;
          }
        
          .title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            padding: 10px;
          }
        
          .score {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;
          }
        
          .player-score,
          .computer-score {
            width: 100px;
            height: auto;
            padding: 10px;
            font-size: 15px;
          }
        
          #player-score,
          #computer-score {
            font-size: 40px;
          }
        
          .options-section,
          .result-section {
            flex-direction: column;
            height: auto;
            margin-top: 20px;
          }
        
          .options-section i,
          .result-section i {
            font-size: 70px;
            height: 130px;
            width: 130px;
            margin: 10px 0;
          }
        
          .yc p,
          .cc p {
            font-size: 30px;
            margin-bottom: 20px;
          }

          .yc , .cc{
                    width: 100%;
                    height: 10%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    
          }
          .yc p, .cc p{
                    font-size: 25px;
          }

          .try{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    height: 200px;

          }

          .try p{
                    font-size: 40px;
                    color: rgb(255, 253, 252);
                    margin: 0;
                    padding: 0;
                    box-shadow: #0d1122;
          }

          .try button{
                    padding: 0;
                    margin: 0;
                    font-size: 26px;
                    width: 150px;
          }
          .try button:active {
                    color: #000000;
                    background-color: #747ea8;
                    cursor: pointer;
                    transform: scale(1.1);
          }
          .options-section i:active {
                    color: white;
                    background-color: #3b31f2ca;
                    cursor: pointer;
                    transform: scale(1.2);
          }
        }
        
